/* todos los html */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/* index.html */
.encabezado, footer{
    background-color: #FABFB7;
    padding: 15px 15px;
}

.logo{
    align-items: center;
    width: 100px;
    height: 100px;
    opacity: 0.5;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.marca{
    text-align: center;
}

nav a{
    margin: 10px 80px;
    padding: 5px 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

.imagenIndex{
    margin: 5%;
}

.container-historia{
    height: 300px;
}

.flex-container{
    display: flex;
    /* padding: 10px; */
}

.flex-container div{
    width: 650px;
    margin: 10px;
    justify-content: space-around;
}

.contenido-index, .contenido-historia{
    margin: 10px ;
    text-align: center;
}

.historia{
    text-indent: 50px;
    font-size: 20px;
    line-height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
}

.icons1{
    width: 35px;
    margin-top: 15px;
    margin-right: 10px;
}

.icons{
    width: 50px;
    margin-top: 15px;
    margin-right: 10px;
}

.mapa{
    position: relative;
    left: 5%;
}

.direccion, .redes{
    padding-top: 50px;
    padding-left: 70px;
}

/* Recetas General */
.imagenDulces, .imagenSaladas {
    width: 300px;
    margin: 30px 20px;
    opacity: 0.5;
}
.textoEncima {
    position: relative;
    top: -250px;
    right: -90px;
    font-size: 28px;
}
.d-flex {
    display: flex;
    justify-content: center;
}

