/* todos los html */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/* index.html */
.encabezado{
    background-color: #FABFB7;
    padding: 15px 15px;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.marca{
    text-align: center;
}

nav a{
    margin: 10px 80px;
    padding: 5px 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

.imagenIndex{
    margin: 30px 20px;
    float: left;
}

.container-historia{
    position: relative;
    height: 300px;
}

.historia{
    text-indent: 50px;
    padding-top: 50px;
    display: right;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    top: 30%;
    margin: 15px 50px;
    /* display: inline-block; */
}

/* Recetas General */
.imagenDulces, .imagenSaladas {
    width: 300px;
    margin: 30px 20px;
    opacity: 0.5;
}
.textoEncima {
    position: relative;
    top: -250px;
    right: -90px;
    font-size: 28px;
}
.d-flex {
    display: flex;
    justify-content: center;
}
